@value colors: '~styles/colors.module.css';
@value red from colors;

.root {
  width: 50%;
  padding-top: 18.52%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 1s ease;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .type {
    padding: 3px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: #fff;
    font-size: 0.9em;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
