.root {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg,
.mask {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: -2;
  filter: blur(20px);
}

.mask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.content {
  display: flex;
}

.pic {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.info {
  .tag {
    width: 100px;
    padding: 5px 0;
    margin: 20px 0;
    border: 1px solid #e5a158;
    border-radius: 5px;
    color: #e5a158;
    text-align: center;
  }

  .name {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
  }

  .tips {
    font-size: 0.95em;
    color: rgba(255, 255, 255, 0.6);
  }
}
