@value colors: '~styles/colors.module.css';
@value tipsColor, bgColor from colors;

.item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: default;
}

.item:hover {
  background-color: bgColor;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: tipsColor;
}

.name {
  width: 220px;
  margin-bottom: 5px;
}

.artists {
  font-size: 0.9em;
  color: tipsColor;
}
