@value colors: '~styles/colors.module.css';
@value red, borderColor, nameColor from colors;

.root {
  padding: 20px 0 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid borderColor;
}

.left {
  display: flex;
}

.date {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid borderColor;
  box-shadow: 0 1px 5px 2px borderColor;

  .weekday {
    padding: 5px 0;
    text-align: center;
    background-color: red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
  }

  .day {
    padding: 12px 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.title {
  .name {
    margin: 10px 0 15px;
    font-size: 1.5em;
  }

  .tips {
    color: nameColor;
  }
}

.needLogin {
  margin-top: 100px;
  text-align: center;
}
