@value red: #c7332f;
@value grey: #7d7d7d;
@value black: #000;
@value blue: #769acb;
@value nameColor: #5d5d5d;
@value nameHoverColor: #1e1e1e;
@value tipsColor: #bababa;
@value tipsHoverColor: #7c7c7c;
@value borderColor: #f5f5f5;
@value bgColor: #f2f2f3;
