@value colors: '~styles/colors.module.css';
@value blue, tipsHoverColor from colors;

.root {
  display: flex;
}

.avatar {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.info {
  flex: 1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;

  .comment {
    margin-bottom: 8px;
    font-size: 0.95em;
  }

  .reply {
    margin-bottom: 10px;
    font-size: 0.9em;

    .item {
      width: 100%;
      padding: 8px 10px;
      border-radius: 3px;
      background-color: #f0f0f0;
    }
  }

  .nickname {
    color: blue;
  }

  .others {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    color: tipsHoverColor;

    .operations {
      display: flex;

      .like {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
