@value constants: '~styles/constants.module.css';
@value sidebarWidth, headerHeight, footerHeight from constants;

.root {
  width: sidebarWidth;
  height: calc(100% - footerHeight);
  padding-top: headerHeight;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  overflow: hidden;
  z-index: 3;
}

.content {
  height: 100%;
  overflow: scroll;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    color: rgb(220, 220, 220);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .name {
    color: rgb(69, 69, 69);
    cursor: default;
  }
}

.block {
  margin-bottom: 20px;
}
