@value colors: "~styles/colors.module.css";
@value grey from colors;

.tabs {
  color: rgb(77, 77, 77);
  cursor: default;

  .tab {
    padding: 10px 20px;

    span {
      margin-right: 10px;
    }
  }

  .tab:hover {
    background-color: rgb(227, 227, 227);
  }

  .active {
    color: rgb(208, 58, 54);
  }
}

.block {
  margin-bottom: 25px;

  .title {
    padding-left: 20px;
    font-size: 0.8em;
    color: grey;
  }
}
