@value colors: '~styles/colors.module.css';
@value tipsHoverColor, black from colors;

.root {
  width: 100%;
  height: 100%;
  overflow: scroll;
  white-space: nowrap;
  color: tipsHoverColor;
  font-size: 0.95em;

  /* For hide scrollbar */
  padding-right: 17px;
  box-sizing: content-box;
  box-shadow: 0 1px 5px #fff;
}

.line {
  height: 30px;
  line-height: 30px;
}

.active {
  font-size: 1.2em;
  color: black;
}

.loading {
  text-align: left;
}
