@value colors: '~styles/colors.module.css';
@value red from colors;

.root {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
}
