@value colors: '~styles/colors.module.css';
@value tipsColor, borderColor from colors;

.root {
  padding: 0 20px;
  margin-bottom: 30px;
}

.title {
  color: tipsColor;
  margin-bottom: 20px;
}

.words {
  display: flex;
  flex-wrap: wrap;
}

.word {
  padding: 5px 15px;
  margin: 0 10px 10px 0;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;

  &:hover {
    background-color: borderColor;
  }
}
