@value colors: "~styles/colors.module.css";
@value red from colors;

:global(.bp3-slider-track) {
  height: 2px !important;
}

/* :global(.bp3-slider-track:hover .bp3-slider-handle) {
  visibility: visible !important;
}

:global(.bp3-slider-track .bp3-slider-handle) {
  visibility: hidden !important;
} */

:global(.bp3-slider-handle) {
  border-radius: 50% !important;
  background-color: red !important;
  background-image: none !important;
  width: 12px !important;
  height: 12px !important;
  top: 0 !important;
  cursor: default !important;
  z-index: 10;

  &:focus {
    outline: none;
    cursor: default;
  }
}

:global(.bp3-slider-axis) {
  display: none;
}

.root {
  height: 10px !important;
  cursor: default !important;
}
