@value colors: '~styles/colors.module.css';
@value borderColor from colors;

@value constants: '~styles/constants.module.css';
@value footerHeight, headerHeight from constants;

.searcher {
  width: 160px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.95em;
  background-color: #ebebeb;

  span {
    transform: scale(0.85);
    color: #424242;
  }

  input {
    width: 115px;
    margin-left: 3px;
    outline: none;
    border: none;
    background-color: transparent;
  }
}

.result {
  width: 350px;
  height: calc(100% - headerHeight - footerHeight);
  padding: 18px 0;
  position: fixed;
  right: 0;
  top: headerHeight;
  transform: translate(100%, 0);
  border-left: 1px solid borderColor;
  box-shadow: 0 0 5px #fff;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.show {
  transform: translate(0, 0);
}
